table,tr,td,th{
	border:1px solid black;
	border-collapse: collapse;
	z-index: 0;
}
td,tr{
	padding-left: 10px;
}
a{
	text-decoration: none;
}
.marginBody{
	padding: 10px;
}
.flexParent{
	display: flex;
}
.flexChild{
	margin-left: 5px;
}
.lastFlexChild{
	margin-left: auto;
	align-self: flex-end;
}
.firstFlexChild{
	margin-right: auto;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 20%;
}
.row{
	padding:0 0 0 5px;
}
.dateTimeWidth{
	width: 50px;
}
